{#<?php#}
{% extends "main.twig" %}

{% block content %}

<div id="filters" class="center">
	<button class="btn btn-primary" data-filter="*" class="selected">{{ __('All', 'maera-restaurant') }}</button>
	{% for menu_section in menu_sections %}
	<button class="btn btn-primary" data-filter=".{{ menu_section.name|lower }}">{{ menu_section.name }}</button>
	{% endfor %}
</div>

<div id="menu-wrapper" class="menus row">
	{% for menu_item in menu_items %}
	<div class="{{ 'item'|apply_filters( 'maera/restaurant/menu_class' ) }} item active {% for term in menu_item.terms('restaurant_item_menu_section') %}{{ term.name|lower }} {% endfor %}">
		<div class="menu-wrap">
			{% if menu_item.thumbnail %}
			<a href="{{ menu_item.permalink }}">
				<img class="img-circle" src="{{ menu_item.get_thumbnail.get_src|resize(100, 100, 'center') }}" alt="{{ menu_item.title }}" />
			</a>
			{% endif %}
			<h3>
				<span class="dish_name"><a href="{{ menu_item.permalink }}">{{ menu_item.title }}</a></span>
				<span class="price_dots"></span>
				<span class="price">{{ currency }}{{ menu_item.get_field('_restaurant_item_price') }}</span>
			</h3>
			<p>{{ menu_item.content }}</p>
		</div>
		{% for term in menu_item.terms('restaurant_tag') %}
		<div class="menu_item_tags">
			<span class="label label-primary"><i class="fa fa-cutlery"></i> &nbsp; <a href="{{term.link}}">{{term.name}}</a></span>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>

<script>
jQuery(function ($) {
	var $container = $('#menu-wrapper');
	$container.isotope({
		itemSelector : '.item',
		layoutMode : '{{ theme.theme_mod('isotope_layout', 'masonry') }}'
	});

	$('#filters').on( 'click', 'button', function() {
		var selector = $(this).attr('data-filter');
		$container.isotope({ filter: selector });
		return false;
	});
});
</script>

{% endblock %}
