{#<?php#}
{% import 'grid_classes.html.twig' as grid %}
{% from 'clearfix.html.twig' import clearfix as clearfix %}

<div id="parallax-wrapper" class="wrap">

	{# Begin Slider #}
	{%  if function('is_front_page') == true and theme_mods.show_slider_section == 1 %}

		{% do action( 'maera/restaurant/before_slider' ) %}

		{% include 'slider.twig' %}

		{% do action( 'maera/restaurant/after_slider' ) %}

		{{ clearfix() }}

	{% endif %}
	{# End Slider #}

	{# Begin Navbar #}
	{% do action( 'maera/restaurant/before_navbar' ) %}

	{% include 'navbar.twig' %}

	{% do action( 'maera/restaurant/after_navbar' ) %}

	{{ clearfix() }}
	{# End Navbar #}

	{# Begin About Section #}
	{% if function('is_front_page') == true and theme_mods.show_about_section == 1 %}

		{% do action( 'maera/restaurant/before_about' ) %}

		{% include 'about.twig' %}

		{% do action( 'maera/restaurant/after_about' ) %}

		{{ clearfix() }}

	{% endif %}
	{# End About Section #}

	{# Begin Menu Section #}
	{% if function('is_front_page') == true and theme_mods.show_menu_section == 1 %}

		{% do action( 'maera/restaurant/before_menu' ) %}

			{% include 'menu.twig' %}

		{% do action( 'maera/restaurant/after_menu' ) %}

		{{ clearfix() }}

	{% endif %}
	{# End Menu Section #}

	{# Begin Latest Posts #}
	<section id="latest-posts" class="">

		<div class="{{ grid.container() }} wrap main-section" id="wrap-main-section">

			{% do action( 'maera/content/before', post.ID ) %}

			<div class="content" id="content" itemprop="mainContentOfPage">

				<div class="{{ grid.row() }} bg">

					<div class="content-primary-wrapper {{ 'main'|apply_filters( 'maera/section_class/wrapper' ) }}">

						{% do action( 'maera/main/before', post.ID ) %}

						{% block main %}{{ __( 'Sorry, no content', 'maera' ) }}{% endblock %}

						{% do action( 'maera/main/after', post.ID ) %}

					</div>

					<div class="clearfix"></div>
				</div>

			</div><!-- /#content -->

			{% do action( 'maera/content/after' ) %}

		</div>

	</section>

	{{ clearfix() }}
	{# End Latest Posts #}

	{# Begin Events Section #}
	{% if function('is_front_page') == true and theme_mods.show_events_section == 1 %}

		{% do action( 'maera/restaurant/before_events' ) %}

			{% include 'events.twig' %}

		{% do action( 'maera/restaurant/after_events' ) %}

		{{ clearfix() }}

	{% endif %}
	{# End Events Section #}

	{# Begin Testimonials Section #}
	{% if function('is_front_page') == true and theme_mods.show_testimonials_section == 1 %}

		{% do action( 'maera/restaurant/before_testimonials' ) %}

			{% include 'testimonials.twig' %}

		{% do action( 'maera/restaurant/after_testimonials' ) %}

		{{ clearfix() }}

	{% endif %}
	{# End Testimonials Section #}

	{# Begin Pre Footer Section #}
	{% include 'pre-footer.twig' %}

	{{ clearfix() }}
	{# End Pre Footer Section #}

</div>
