<div class="col-xs-12 col-sm-10 blog-content">
	{% if post.thumbnail %}
		<a class="featured-image" href="{{ post.link }}" title="{{ post.title }}">
			<img class="featured-image img-responsive img-blog" src="{{ post.thumbnail.src|resize(1280, 400, 'center') }}" srcset="{{ post.thumbnail.src|resize(1280, 400, 'center')|retina(1) }} 1x, {{ post.thumbnail.src|resize(1280, 400, 'center')|retina(2) }}  2x" alt="{{ post.title }}">
		</a>
	{% endif %}
	<h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
	<p>{{ post.get_preview }}</p>
</div>
