<div class="contact-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-4">
				<div class="contact-number"><p><i class="fa fa-phone-square"></i> <a href="tel:{{ theme.theme_mod('phone_number', '+555 867-5309') }}">{{ theme.theme_mod('phone_number', '+555-867-5309') }}</a></p></div>
			</div>
			<div class="col-sm-6 col-xs-8">
				<div class="social row">
					<div class="col-sm-6">
						<ul class="social-share">
							<li><a href="{{ facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="{{ twitter_link }}" target="_blank" ><i class="fa fa-twitter"></i></a></li>
							<li><a href="{{ googleplus_link }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="{{ youtube_link }}" target="_blank" ><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
					<div class="col-sm-6 search-form">
					{% include 'searchform.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
