{#<?php#}

{{ widget.before_widget }}

<div class="container">
	<div class="center">
	{% if widget.title %}
		{{ widget.before_title }}
		{{ widget.title }}
		{{ widget.after_title }}
	{% endif %}
	</div>
	<div id="menu-wrapper" class="menus row">
		{% for post in posts %}
		<div class="col-md-6 col-sm-12 item {% for term in post.terms('restaurant_item_menu_section') %}{{ term.name|lower }} {% endfor %}">
			<div class="menu-wrap">
				{% if post.thumbnail and widget.show_featured_images %}
				<a href="{{ post.permalink }}">
					<img class="img-circle" src="{{ post.get_thumbnail.get_src|resize(100, 100, 'center') }}" alt="{{ post.title }}" />
				</a>
				{% endif %}
				<h3>
					<span class="dish_name"><a href="{{ post.permalink }}">{{ post.title }}</a></span>
					{% if widget.show_price %}
					<span class="price_dots"></span>
					<span class="price">{{ currency }}{{ post.get_field('_restaurant_item_price') }}</span>
					{% endif %}
				</h3>
				{{ post.content }}
			</div>
			{% if widget.show_tags %}
				{% for term in post.terms('restaurant_tag') %}
				<div class="menu_item_tags">
					<span class="label label-primary"><i class="fa fa-cutlery"></i> &nbsp; <a href="{{term.link}}">{{term.name}}</a></span>
				</div>
				{% endfor %}
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% if widget.show_menu_link %}
	<div class="center">
		<a href="{{ function('rp_restaurant_menu_base') }}/" class="btn btn-primary">{{ __('Full Menu', 'maera-restaurant') }}</a>
	</div>
	{% endif %}
</div>

<script>
jQuery(function ($) {
	var $container = $('#menu-wrapper');
	$container.isotope({
		itemSelector : '.item',
		layoutMode : '{{ theme.theme_mod('isotope_layout', 'masonry') }}'
	});
});
</script>

{{ widget.after_widget }}
