{#<?php#}
<nav class="navbar navbar-default" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">{{ __( 'Toggle Navigation', 'maera-restaurant' ) }}</span>
				<i class="fa fa-bars"></i>
			</button>
			{% include 'logo.twig' %}
		</div>
		<div class="collapse navbar-collapse navbar-right">
			<ul class="nav navbar-nav">
			{% for item in menu.primary.get_items %}
				{% if item.get_children %}
					<li class="dropdown {{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.get_path }}">{{ item.title }} <i class="fa fa-caret-down fa-fw"></i></a>
						<ul class="dropdown-menu">
							{% for child in item.get_children %}
								<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ child.get_path }}">{{ child.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% else %}
					<li class="{{ item.classes|join(' ') }}{% if 'current-menu-item' in item.classes %} active{% endif %}"><a href="{{ item.get_path }}">{{ item.title }}</a>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div><!--/.container-->
</nav><!--/nav-->
