{#<?php#}
{{ widget.before_widget }}
{% if widget.title %}
	{{ widget.before_title }}
	{{ widget.title }}
	{{ widget.after_title }}
{% endif %}

{% if 1 == widget.second_image %}
	{% set slider_content_class = '6' %}
{% else %}
	{% set slider_content_class = '12' %}
{% endif %}

<div id="main-slider">
	<div id="carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for post in posts %}
			{% if loop.first %}
			<div class="item active {% if widget.parallax %}parallax{% endif %}" style="background-image: url({{ post.thumbnail.src }});">
				<div class="container">
					<div class="row slide-margin">
						<div class="col-sm-{{ slider_content_class }}">
							<div class="carousel-content">
								<h1 class="animation animated-item-1">{{ post.title }}</h1>
								<h4 class="animation animated-item-2">{{ post.post_excerpt }}</h4>
							</div>
						</div>
						{% if widget.second_image %}
						<div class="col-sm-6 hidden-xs animation animated-item-4">
							<div class="slider-img">
								<img src="{{ TimberImage( post.get_field( 'slider_-_second_image' )).src }}" class="img-responsive" alt="{{ post.title }}">
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% else %}
			<div class="item {% if widget.parallax %}parallax{% endif %}" style="background-image: url({{ post.thumbnail.src }});">
				<div class="container">
					<div class="row slide-margin">
						<div class="col-sm-{{ slider_content_class }}">
							<div class="carousel-content">
								<h1 class="animation animated-item-1">{{ post.title }}</h1>
								<h4 class="animation animated-item-2">{{ post.post_excerpt }}</h4>
							</div>
						</div>
						{% if widget.second_image %}
						<div class="col-sm-6 hidden-xs animation animated-item-4">
							<div class="slider-img">
								<img src="{{ TimberImage( post.get_field( 'slider_-_second_image' )).src }}" class="img-responsive" alt="{{ post.title }}">
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<a class="prev hidden-xs" href="#carousel" role="button" data-slide="prev">
		<i class="fa fa-chevron-left"></i>
		<span class="sr-only">{{ __('Previous', 'maera-restaurant') }}</span>
	</a>
	<a class="next hidden-xs" href="#carousel" role="button" data-slide="next">
		<i class="fa fa-chevron-right"></i>
		<span class="sr-only">{{ __('Next', 'maera-restaurant') }}</span>
	</a>
</div>


<script>
jQuery(function ($) {
	$('#main-slider.carousel').carousel({
		pause: {% if widget.pause %}"hover"{% else %}"none"{% endif %},
		interval: {{ widget.interval }},
		wrap: {{ widget.wrap }},
	});
});
</script>

{{ widget.after_widget }}

