{#<?php#}
{{ widget.before_widget }}
{% if widget.title %}
	{{ widget.before_title }}
	{{ widget.title }}
	{{ widget.after_title }}
{% endif %}
<div id="carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		{% for post in posts %}
		{% if loop.first %}

		<div class="item active">
			<img src="{{ post.thumbnail.src }}" class="post-thumb"/>
			<div class="container">
				<div class="carousel-caption">
					<h1>{{ post.title }}</h1>
					<p>{{ post.post_excerpt }}</p>
				</div>
			</div>
		</div>

		{% else %}

		<div class="item">
			<img src="{{ post.thumbnail.src }}" class="post-thumb"/>
			<div class="container">
				<div class="carousel-caption">
					<h1>{{ post.title }}</h1>
					<p>{{ post.post_excerpt }}</p>
				</div>
			</div>
		</div>

		{% endif %}

		{% endfor %}
	</div>
	  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">{{ __('Previous', 'maera-restaurant') }}</span>
	  </a>
	  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">{{ __('Next', 'maera-restaurant') }}</span>
	  </a>
</div>

<script>
$(document).ready(function() {
	$('.carousel').carousel({
		pause: {% if widget.pause %}"hover"{% else %}"none"{% endif %},
		interval: {{ widget.interval }},
		wrap: {% if widget.wrap %}{{ widget.wrap }}{% else %}0{% endif %},
	});
});
</script>

{{ widget.after_widget }}


