{#<?php#}
{{ widget.before_widget }}
<div class="container recent-posts">
	<div class="center wow fadeInDown">
		{% if widget.title %}
			{{ widget.before_title }}
			{{ widget.title }}
			{{ widget.after_title }}
			{% else %}
			<h2>{{ __( 'From The Kitchen', 'maera-restaurant' ) }}</h2>
		{% endif %}
		<p class="lead">{{ theme.theme_mod('recent_lead_text', 'Ut enim ad minim veniam.') }}</p>
	</div>
	<div class="row">
		{% for post in posts %}
		<div class="col-xs-12 col-sm-4 col-md-3 post_article no-margin" itemscope itemtype="http://schema.org/Article">
			<div class="recent-post-wrap">
				<img class="img-responsive" src="{{ post.get_thumbnail.get_src|resize(500,500) }}" alt="{{ post.title }}">
				<div class="overlay">
					<div class="recent-post-inner">
						{% if widget.post_title_size %}
						<{{ widget.post_title_size }} itemprop="name"><a href="{{ post.link }}">{{ post.title }}</a></{{widget.post_title_size}}>
						{% else %}
						<h3 itemprop="name"><a href="{{ post.link }}">{{ post.title }}</a></h3>
						{% endif %}
						<div class="meta-wrapper">
							<time class="entry-date published" datetime="{{ post.date('c') }}">
								<span itemprop="datePublished">{{ post.date }}</span>
							</time>
							<span class="byline">{{ __( 'By', 'maera-restaurant' ) }}
								<span class="author vcard"><a class="url fn n" href="{{ post.author.link }}">{{ post.author.name }}</a></span>
							</span>
						</div>
						<p>{{post.get_preview(15)}}</p>
						<div class="post-categories">
							<i class="fa fa-tags"></i>
							{% for category in post.get_categories %}
								<a href="{{ category.get_path }}" itemprop="articleSection">{{ category.name }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{{ widget.after_widget }}

<div class="clearfix"></div>
